<!DOCTYPE html>
<html>
  <head>
    <title>Exam2019</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
    <link rel="app/assets/stylesheet"  href="application.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>
  <style>
    .fakeimg {
      height: 300px;
      width: 180px;
      background: #aaa;
    }
  </style>

  <body style="margin: 0px">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
    <div id="navb" class="navbar-collapse collapse hide">

        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link " href="/">Z-Mobile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/products">Handsets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/">Prepay Options</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/">Subcriptions</a>
          </li>

        </ul>
        <div class="form-inline">
          <%link_to "log Out" %>
          <%link_to "Cart" %>
        </div>

    <%current_uri = request.env['PATH_INFO'] %>

    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <div class="sidebar-nav">
          <div class="navbar navbar-default" role="navigation">
        <ul class="nav flex-column nav-stacked">
            <%if current_uri.include? "products" %>
                <%@products = Product.select("brand").distinct.each do |p| %>
              <li class="nav-item">
                <a class="nav-link " href="/products/<%=p.brand %>"><%=p.brand %></a>
              </li>
            <% end %>
            <%else%>
            <div class="fakeimg">
              <p class="text-center">Fake Advertising</p>
            </div>
            <%end %>
        </ul>
      </div>
        </div>
      </div>

  <div class=" col-9" style="margin-top: 30px">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  </div>
  </div>

  <footer class=" page-footer bg-dark" style="text-align: center">
    <p>Created by :Raimundo Marin</p>
    <p>Contact information: </p>
      <p>Call center number: +56973849123</p>
    <p>Address: Forever 123</p>
  </footer>
  </body>
</html>
